body{
  background-color: aliceblue;

}
h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h5, h4, h6{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
p{

font-family:Poppins;
color: #666666;
font-size: 16px;
line-height: 1.80857;
font-weight: normal;

}

.up-arrow{
  position: fixed;
  bottom: 20px;
  right: 20px;


  text-align:right;
  cursor: pointer;

}
.up-arrow img{
width: 35px;

}

/* navbar start */
.btn, .btn:hover{
    border-radius: 100%;
    width: 25px;
    height: 25px;
    background-color: orange;s
    margin-right: 10px;
}

.navbar-brand{
    font-size: 24px;
     color: black;
     padding-left: 20px;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
     }
 @media (max-width: 800px) {
   .software{padding-left: 20px;}
 }

 .navbar-nav{
     margin-left: auto;
     padding: 20px 40px;
    }
 .nav-link{
     color: black;
 }
 @media (max-width: 800px) {
    .nav-link{text-align:center ;}
    }

 .nav-link:hover{
     color: aquamarine;
 }

 #navbar_section{
     width: 100%;
     float: left;
     background-color:aliceblue;
     background-size: cover;
     background-repeat: no-repeat;
     height: auto;
}

/* navbar end */
/* header_section start */
 #resume_section{
   width: 100%;
   float: left;
   background-color:aliceblue;
   background-size: cover;
   height: auto;
 }
.header_section{
    width:100%;
    padding: 40px;
    float: left;
    background-color:aliceblue;
    background-size: cover;
    height: auto;

}
@media (max-width: 800px) {
    .header_section{padding:20px;}
    width:100%;
    }
.tosin_circle img{
    width: 75%;
    height: 75%;
    float: right;
}
@media (max-width: 800px) {
    .tosin_circle img{text-align: center;}
    }
.about_me{
    margin-top: 50px;
    float: left;
}
.button{
    margin-top: 40px;
}
@media (max-width: 800px) {
    .button1 .button2 .button3{width: 5rem;}
      .button1 .button2 .button3{height: 5rem;}

    }


.button1{
    border-radius: 100%;
    width: 6rem;
    height: 6rem;
    background-color: orange;
    border-width: 1px;
    margin-right: 10px;
    margin-bottom: 15px;

}
.button2{
    border-radius: 100%;
    width: 6rem;
    height: 6rem;
    background-color: orangered;
    border-width: 1px;
    margin-right: 10px;
    margin-bottom: 15px;
}
.button3{
    border-radius: 100%;
    width: 6rem;
    height: 6rem;
    background-color: aqua;
    border-width: 1px;
}
.button a{
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
     }
.button1:hover,.button2:hover,.button3:hover{
background-color: aliceblue;
}
/* header_section end */
/* footer_section start */
.footer_section{
  width: 100%;
  float: left;
  background-color:aliceblue;
  background-size: cover;
  height: auto;
}

.footer_section{

    padding: 5px 40px 5px;
}
@media (max-width: 800px) {
    .footer_section{padding:60px 20px 5px;}
    width:100%;
    }
.footer_section a, .footer_section p{
    font-size: 13px;
    font-family:Poppins;
    color: #666666;
}
.footer_section a:hover{
    color: orange;
}
.social_box img{
    width: 25px;
    margin-bottom: 15px
}
.tos{
  color: blue;
}
 /* footer_section end */


 /* contact start */

 #contact_section{
   width: 100%;
   float: left;
   background-color:aliceblue;
   background-size: cover;
   background-repeat: no-repeat;
   height: auto;
   padding: 70px;
   margin: auto;
   margin-bottom: 8rem;

}
@media (max-width: 800px) {
    #contact_section{padding:20px;}
    width:100%;
    }
#contact_section p, .form-control{
    margin-bottom: 30px;
}

#contact_section .message{
    width: 55%;
   }
@media (max-width: 800px) {
    #contact_section .message{width: 100%;}
    }
#contact_section .button1{
    margin: 40px 0 0 10px;
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
   }

  /* contact end */

  /* project section start */
#project_section{
  width: 100%;
  float: left;
  background-color:aliceblue;
  background-size: cover;
  height: auto;
  padding: 70px 70px 0px;
}
@media (max-width: 800px) {
    #project_section{padding:20px;}
    width:100%;
    }
#project_section h2, #project_section .ps{
    margin-bottom: 6rem;

}
#project_section img{
    float: left;
}
#project_section a{
    color: aqua;
    text-decoration: none;
}
  /* project section end */

 /* resume section start */
 #resume_section{
    padding: 70px;
}
@media (max-width: 800px) {
    #resume_section{padding:20px;}
    width:100%;
    }
 #resume_section .row{
    padding-top: 40px;

}
#resume_section h4{
     padding: 70px 0px 30px;
}

#resume_section p, h6,{
    margin-left
}
/* resume section end */
